@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #BA4949;
    width: 52rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

main {
    width: 32rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

.container-timer {
    display: flex;
    flex-direction: column;
    background-color: #C15C5C;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 2rem);
}

.nav-timer {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 5rem 0 5rem;
    padding: 0;
    font-weight: bold;
}

.nav-timer li {
    appearance: none;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#timer {
    margin: 0;
    font-size: 7rem;
}

#btn-controller-timer {
    display: flex;

    appearance: none;
    border-style: none;
    cursor: pointer;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: #BA4949;
    font-weight: bold;

    justify-content: center;
}

.container-btns-timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

#btn-reset img {
    width: 1.5rem;
    height: 1.5rem;
}

#btn-reset {
    display: none;
    position: absolute; 
    bottom: 1.8rem; 
    left: -2.5rem;
    top: 0.8rem;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;

    appearance: none;
    border-style: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: #BA4949;
}

#btn-setting img {
    width: 2.2rem;
    height: 2.2rem;
}

.task-list-container {
    margin: 2rem 0;
    color: white;
}

.task-list-container h2 {
    border-bottom: 0.1rem solid white;
    padding-bottom: 1rem;
}

.container-task {
    display: flex;
    align-items: center;
    background-color: #AB4343; 
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin-bottom: 15px;
}

#checkbox-todo-task {
    margin-right: 10px;
}

.input-add-task {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    outline: none;
    margin: 0.1rem;
}

.complete-task {
    text-decoration: line-through;
    opacity: 0.6;
}

.btn-delete-task {
    background-color: transparent;
    border: none;
    color: #d18a8a;
    cursor: pointer;
}

.btn-delete-task p {
    margin: 0;
}

.btn-delete-task:hover {
    color: white;
}

#container-add-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed #d18a8a;
    background-color: #AB4343;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#input-new-task::placeholder {
    color: #d18a8a; 
}

#input-new-task {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    outline: none;
    margin-left: 0.5rem;
}

#icon-add-task {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}


/* From Uiverse.io by PriyanshuGupta28 */ 
.input-checkbox[type="checkbox"] {
    display: none;
}

.checkbox-label {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}
  
    /* Style for the custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #fff;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

    /* Style for the custom checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #fff;
    opacity: 0;
}


    /* Show the checkmark when checkbox is checked */
.input-checkbox[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

.bg-nav-timer {
    background-color: #AB4343;
}

@media screen and (max-width: 556px) {
    .nav-timer {
        margin: 0.5rem 2rem 0 2rem;
    }
}


@media screen and (max-width: 460px) {

    #timer {
        font-size: 5rem;
    }
    
    .nav-timer {
        margin: 0.5rem 1.5rem 0 1.5rem;
    }

    .nav-timer li {
        font-size: 0.8rem;
    }

    #btn-controller-timer {
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }

    #btn-reset img {
        width: 1rem;
        height: 1rem;
    }
    
    #btn-reset {
        left: -2rem;
        top: 0.3rem;
        width: 1.5rem;
        height: 1.5rem;

    }

}

@media screen and (max-width: 410px) {

    .nav-timer li {
        font-size: 0.6rem;
    }

    #timer {
        font-size: 4rem;
    }

    #btn-controller-timer {
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
    }

}